@import "tailwindcss";

@font-face {
    font-family: "Londrina Solid";
    src: url("./assets/fonts/LondrinaSolid-Regular.ttf");
}

@font-face {
    font-family: "Rockwell";
    src: url("./assets/fonts/Rockwell-Std-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: bold;
}

@theme{
    --color-skrawl-purple: #1C0667;
    --color-skrawl-magenta: #E81E65;
    --color-skrawl-orange: #FF9F1C;
    --color-skrawl-cyan: #2EC4B6;
    --color-skrawl-white: #F2F0EF;

     --font-logotype: "Londrina Solid";
    --font-header: "Rockwell";
    --font-body: "Nunito";

    --text-logotype: 96px;
    --text-header: 40px;
    --text-button: 24px;
    --text-body: 20px;
}

/* Theme overrides */
:root[data-theme="coffee"] {
    --color-skrawl-purple: #7f5539;
    --color-skrawl-magenta: #b08968;
    --color-skrawl-orange: #ddb892;
    --color-skrawl-cyan: #e6ccb2;
    --color-skrawl-white: #ede0d4;
}

:root[data-theme="cotton-candy"] {
    --color-skrawl-purple: #9c89b8;
    --color-skrawl-magenta: #b8bedd;
    --color-skrawl-orange: #f0a6ca;
    --color-skrawl-cyan: #efc3e6;
    --color-skrawl-white: #f0e6ef;
}

:root[data-theme="rose"] {
    --color-skrawl-purple: #880d1e;
    --color-skrawl-magenta: #dd2d4a;
    --color-skrawl-orange: #f26a8d;
    --color-skrawl-cyan: #f49cbb;
    --color-skrawl-white: #cbeef3;
}

