@import "tailwindcss";

@font-face {
    font-family: "Londrina Solid";
    src: url("./assets/fonts/LondrinaSolid-Regular.ttf");
}

@font-face {
    font-family: "Rockwell";
    src: url("./assets/fonts/Rockwell-Std-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: bold;
}

@theme{
    --color-skrawl-black: #241f21;
    --color-skrawl-cyan: #2EC4B6;
    --color-skrawl-orange: #FF9F1C;
    --color-skrawl-magenta: #E81E65;
    --color-skrawl-purple: #1C0667;
    --color-skrawl-white: #F2F0EF;

    --font-logotype: "Londrina Solid";
    --font-header: "Rockwell";
    --font-body: "Nunito";

    --text-logotype: 96px;
    --text-header: 40px;
    --text-button: 24px;
    --text-body: 20px;
}